<template>
  <v-app id="app">

  <!-- <div class="menuBar">
    <div class="bar" id="barOne"></div>
    <div class="bar" id="barTwo"></div>
    <div class="bar" id="barThree"></div>
  </div> -->
  <home />

</v-app>
</template>

<script>
import home from './components/home.vue'
import scroll from './scroll.js'

export default {
  name: 'app',
  components: {
    home
  },
  data(){
    return{

    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Fredericka+the+Great|Special+Elite|B612+Mono');


html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth !important;

}

body{
  height: 100%;
  font-family: 'Cabin Sketch', cursive !important;
  margin: 0 auto;
  padding: 0;
  cursor:default;
}

#app{
  height: 100%;

}

.menuBar{
  width: 32px;
  margin: 0;
  position: fixed;
  z-index: 9;
}

.bar{
  width: 100%;
  height: 4px;
  background: white;
  margin: 5px;
  transition: .50s;
  position: sticky;
}

#barThree{
  width: 70%;
}

.menuBar:hover .bar {
  background-color: #ff7f0f;
}
.menuBar:hover #barThree{
  width: 100%;
}
.menuBar:hover{
  cursor: pointer;
}


/* @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */


</style>
