<template>
  <div class="home" >

    <div class="hero" id="hero">
      <div class="menuBar" id="menuBar" @click="nav = !nav">
        <div class="bar" id="barOne"></div>
        <div class="bar" id="barTwo"></div>
        <div class="bar" id="barThree"></div>
      </div>

      <div class="action">
        <p class="homeTitle"><span class="love">Love </span>all Neighbors</p>
        <p class="subtitle">Knitting & donating to the homeless </p>
        <a href="#help">
          <v-btn round outline color="primary" large v-ripple> HELP NOW</v-btn>
        </a>
      </div>

      <div class="downArrow">
        <p>scroll</p>
        <v-icon color="white" large>expand_more</v-icon>
      </div>


      <v-navigation-drawer app dark v-model="nav" width="216">

        <div class="itemsHolder">
          <a @click="home">
          <div class="navItems"><v-icon>home</v-icon>Home</div>
          </a>

          <a @click="help">
          <div class="navItems"><v-icon>favorite</v-icon>Help Now</div>
          </a>

          <a @click="contact">
          <div class="navItems"><v-icon>call</v-icon>Contact</div>
          </a>
        </div>

      </v-navigation-drawer>

    </div>

    <!--  END OF HERO-->

    <div class="pinContainer">
      <div class="slideshow" id="slideshow">

        <!-- about page -->
        <div class="help slides" id="help">
          <div class="about">

            <p class="intro">Hello friends! My goal is for us to knit and donate scarves/blankets/anything else to shelters or people living on the street. However, there are other ways to help, below. Every little thing helps!</p>



          <div class="waysSection">
            <div class="ways"> <v-icon>favorite</v-icon> Come to a knitting workshop!</div>
            <div class="ways"> <v-icon>favorite</v-icon> Join me on sandwich runs!</div>
            <div class="ways"> <v-icon>favorite</v-icon> Donate food, money, or any warm clothing/possible presents you have! (new or old) </div>
          </div>

          <div class="cta">
            <p>please contact me if you are able to help</p>
            <v-btn>Contact <v-icon>arrow_right</v-icon></v-btn>
            <!-- <p class="proceeds">The proceeds will go to the <a href="https://hshshelter.org/">Harvard Square Homeless Shelter</a> or homeless people in Harvard Square</p> -->
          </div>

          </div>

          <div class="img"></div>

          </div>

          <!-- contact page -->
          <div class="contact slides" id="contact">

          </div>

        </div>
      </div>


    </div>
</template>

<script>
import scroll from '../scroll.js'

export default {
  name: 'home',
  data(){
    return{
      nav: false,
      menu: [
        {title: 'Home', icon: 'home'},
        {title: 'Help Now', icon: 'favorite'},
        {title: 'Contact', icon: 'call'}
      ]
    }
  },
  methods: {
      home (){
        var body = document.body;
    	  var html = document.documentElement;
    		body.scrollTop = 0;
    		html.scrollTop = 0;
      },
      help(){
        var body = document.body;
    	  var html = document.documentElement;
        body.scrollTop = 789
        html.scrollTop = 789
      },
      contact(){
        var body = document.body;
    	  var html = document.documentElement;
        body.scrollTop = 1578;
        html.scrollTop = 1578;
      }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home{
  height: 100%;
  scroll-behavior: smooth !important;
  transition: all 1s;
}

.hero {
  background: url("../assets/homeless.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 16px;
  font-family: 'Cabin Sketch', cursive !important;
  text-align: center !important;
}

.action{
  color: white;
  text-align: center;
  margin-top: 64px;
  width: 100%;
}

.action>p.homeTitle{
  font-size: 100px;
  margin: 0 auto;
  letter-spacing: 5px;
  line-height: normal;
}
.love{
  margin-bottom: 90px;

  animation: dance 10s infinite;
  animation-delay: 2s;
}

@keyframes dance {
  0%{ color: white; }
  50%{ color: #ff7a0f; }
  100%{ color: white; }
}

.subtitle{
  margin-top: 0;
  font-size: 30px;
}

.v-btn{
  width: 200px;
  height: 60px !important;
  height: auto;
  font-size: 30px;
  font-family: monospace;
  margin-top: 16px;
}
a{
  text-decoration: none !important;
}

.downArrow{
  color: white;
  position: absolute;
  letter-spacing: 2px;
  top: 90%;
  left:48.5%;
  opacity: 0.5;
}

.v-icon{
  position: absolute;
  left: 5%;
}

.v-navigation-drawer{
  opacity: 0.7;
  color: white;
  padding: 16px;
  font-family: monospace;

}

.itemsHolder{
  top: 2%;
  position: relative;
  text-align: center;
}

.navItems{
  width: 100%;
  padding: 16px;
  margin: 64px 0px;
  font-size: 16px !important;
  color:white;
}

.navItems:hover{
  background: black;
  cursor: pointer;
}

.newMenu{
  background: #ff7a0f;
}
 .menuBar:hover .bar.newMenu{
  background: #333;
}

.contact{
  background: lightblue;
}

.pinContainer{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slideshow{
  width: 200%;
  height: 100%;
}

.slides{
  width: 50%;
  height: 100%;
  float: left;

}
.help{
  background-color: #e0e0e0;
  font-size: 20px;
  font-family: 'B612 Mono', monospace;
  letter-spacing: normal;
}

.about{
  border: 1px solid black;
  width: 50%;
  height: 100%;
  padding: 16px;
  float: right;
  position: relative;
}

/* .about::after{
  content: " ";
  border-right: 3px solid #c54b00;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  transform: skewX(-5deg);
  transform-origin: 100%;

  background: url("../assets/turtle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


} */

.img{
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  transform: skewX(-5deg);
  transform-origin: 100%;

  background: url("../assets/turtle1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .img::after{
  content: " ";
  height: 100%;
  transform: skewX(-5deg);
  border: 1px solid red;

} */


.intro{
  font-size:20px;
  /* width: 60%; */
  justify-self: left;
  align-self: center;
}

.waysSection{
  border: 1px solid black;
  width: 100%;
  height: 30%;
}

.cta{
  width: 30%;
  border: 1px solid black;
}


</style>
